  <div class="card">
    <div class="card-header card-header-warning" >
      <h4 class="card-title">Our Product</h4>
      <!-- <p class="card-category">Here is a subtitle for this table</p> -->
    </div>
    <div class="card-content table-responsive table-full-width">
      <table class="table">
        <thead class="text-danger">
          <th>ID</th>
          <th>Product Name</th>
          <th>Product Price</th>
          <th>Detail</th>
          <th>Update By</th>
          <th>Date</th>
        </thead>
        <tbody>
          <tr>
            <td>01</td>
            <td>Weight Liting</td>
            <td class="text-danger">Rp. 200.000</td>
            <td>We have a wide choice of classes that are a <br> 
              great complement to any training programme.</td>
            <td>Wahyu</td>
            <td>16/01/2020</td>
          </tr>
        </tbody>
      </table> 
    </div>
  </div>
  <button class="btn btn-primary">Submit</button>
  <button class="btn btn-danger">Cancel</button>
