<!-- start section gallery -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
          <img src="../../assets/frontend/img/chair.png" alt="this is chair" class="gallery-item">
        </div>
        <div class="col-sm-4">
          <img src="../../../assets/frontend/img/clock1.png" alt="this is chair" class="gallery-item">
        </div>
        <div class="col-sm-4">
          <img src="../../../assets/frontend/img/decor1.png" alt="this is chair" class="gallery-item">
        </div>
        <div class="col-sm-4 ">
          <img src="../../../assets/frontend/img/desk1.png" alt="this is chair" class="gallery-item">
        </div>
        <div class="col-sm-4 ">
          <img src="../../../assets/frontend/img/bottle.png" alt="this is chair" class="gallery-item">
        </div>
        <div class="col-sm-4 ">
          <img src="../../../assets/frontend/img/forkNspoon.png" alt="this is chair" class="gallery-item">
        </div>
    </div>
</div> 
<!-- end section gallery -->
<!-- Start section our program -->
<!-- Services Section Begin -->
<section class="services-section spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <div class="section-title">
                  <h2>Our Program</h2>
                  <p>Our fitness experts can help you discover new training techniques and exercises that offer a
                      dynamic and efficient full-body workout.</p>
              </div>
              <div class="services-items">
                  <div class="single-service-item">
                      <img src="../../../assets/img/icon-1.png" alt="">
                      <h5>Weight Lifting</h5>
                      <p>We have a wide choice of classes that are a great complement to any training programme.
                      </p>
                  </div>
                  <div class="single-service-item color-1">
                      <img src="../../../assets/img/icon-2.png" alt="">
                      <h5>Body Building</h5>
                      <p>We have a wide choice of classes that are a great complement to any training programme.
                      </p>
                  </div>
                  <div class="single-service-item color-2">
                      <img src="../../../assets/img/icon-3.png" alt="">
                      <h5>Healthy</h5>
                      <p>We have a wide choice of classes that are a great complement to any training programme.
                      </p>
                  </div>
                  <div class="single-service-item color-3">
                      <img src="../../../assets/img/icon-4.png" alt="">
                      <h5>Yoga</h5>
                      <p>We have a wide choice of classes that are a great complement to any training programme.
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-5 offset-lg-1">
              <div class="service-video set-bg">
                  <div class="play-btn"><img class="bg-btn" src="../../../assets/img/gallery/gallery-6.jpg" alias="trainer"><i class="fa fa-play"></i>
                    <a href="#" class="service-video-popup">
                    </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Services Section End -->
