.wall-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wall {
    min-height: calc(100vh - 79px);
    background-image: url(../../../assets/frontend/img/wall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.wall-logo{
    font-size: 2.37rem;
    max-width: 700px;
    text-align: center;
    padding: 10px 35px;
    background-color: rgb(70, 66, 66);
    color: #fff;
}
.wall-text {
    margin-top: 40x;
    color: #000;
    font-size: 1.12rem;
    font-weight: 250;
}

/* header css */
.gallery-nav-menu {
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

ul{
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    box-sizing: border-box;
}

.gallery-nav-menu{
    border-top: 1px solid rgb(202, 199, 199);
    border-bottom: 1px solid rgb(202, 199, 199);
    
}

.gallery-nav-link{
    border: none;
    outline: none;
    background: none;
    padding: 20;
    font-weight: 500;
}
/* end header css */