<!-- start wall background  -->
<section class="wall">
    <div class="container">
        <div class="wall-wrapper">
            <h1 class="wall-logo">MAKE IT SHAPE</h1>
            <p class="wall-text">ELITE PERSONAL TRAINING SERVICE</p>
        </div>
    </div>
</section>
<!-- section menu -->
<section class="gallery-nav">
  <div class="container">
      <nav class="gallery-nav-wrapper">
          <ul class="gallery-nav-menu ">
              <li class="gallery-nav-item">
                <button class="gallery-nav-link ">all
                </button>
              </li>
              <li class="gallery-nav-item">
                <button class="gallery-nav-link ">Protein
                </button>
              </li>
              <li class="gallery-nav-item">
                <button class="gallery-nav-link ">Protein Bars    
                </button>
              </li>
              <li class="gallery-nav-item">
                <button class="gallery-nav-link ">Vitamin & Mineral
                </button>
              </li>

              <li class="gallery-nav-item">
                <button class="gallery-nav-link ">Test Booster
                </button>
          </ul>
      </nav>
  </div>
</section>
