<!-- start wall background  -->
<section class="wall">
    <div class="container">
        <div class="wall-wrapper">
            <h1 class="wall-logo">LIAN CREATIVE AGENCY</h1>
            <p class="wall-text">MINIMAL FREELANCE PORTFOLIO</p>
        </div>
    </div>
</section>
<!-- section menu -->
<section class="gallery-nav">
  <div class="container">
      <nav class="gallery-nav-wrapper">
          <ul class="gallery-nav-menu ">
              <li class="gallery-nav-item">
                <button class="gallery-nav-link ">all
                </button>
              </li>
              <li class="gallery-nav-item">
                <button class="gallery-nav-link ">Bottle
                </button>
              </li>
              <li class="gallery-nav-item">
                <button class="gallery-nav-link ">Chair    
                </button>
              </li>
              <li class="gallery-nav-item">
                <button class="gallery-nav-link ">Desk
                </button>
              </li>
              <li class="gallery-nav-item">
                <button class="gallery-nav-link ">Lamp
                </button>
              </li>
              <li class="gallery-nav-item">
                <button class="gallery-nav-link ">Fork & Spoon
                </button>
              </li>
              <li class="gallery-nav-item">
                <button class="gallery-nav-link ">Clock
                </button>
              </li>
          </ul>
      </nav>
  </div>
</section>
